:root {
  --main-font-family: "Kanit", sans-serif;
}

html {
  font-family: var(--main-font-family);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: var(--main-font-family);
}

select,
option {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--main-font-family);
}

.MuiDialogActions-root.MuiDialogActions-spacing
  > .MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root:nth-child(2) {
  display: none;
}

.react-datepicker__day-name,
.react-datepicker__week {
  font-family: var(--main-font-family);
}
